* {
    margin: 0;
}




.cast-section, .crew-section {
    margin-bottom: 40px;
    width: 85%;
    margin: auto;
    /* background-color: #007bff; */
}

.cast-crew-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 40px;
    margin-left: 40px;
    /* background-color: #e33871; */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.profile .name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile .role {
    font-size: 12px;
    color: #888;
}

@media (min-width: 768px) {
    .profile {
        width: 120px;
    }
}

.container1{
    background-color: #F5E7A2;
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}


.div-left{
    color: rgb(1, 0, 44);
    margin-top: 62px;
    align-items: center;
    width: 40%;
}

.div-left h1{
    font-size: 28px;
    font-weight:650;
    align-items: center;
}

ul{
    list-style-type: none;
    align-items: center;
}

.btn1,.btn2{
    width: 65px;
    height: 40px;
    border: none;
}


.div-middle{
    margin-top: 30px;
}

